:root {
  --main-width: 1200px;
  --nav-width: 1200px;
  --single-main-width: 720px;
  --header-height: 65px;
  --code-block-bg: whitesmoke;
}

html {
  overflow-y: auto;
}

.index-main {
  max-width: var(--single-main-width);
  height: calc(100vh - 175px);
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header {
  width: var(--single-main-width);
}

.post-single, .post-entry {
  max-width: var(--single-main-width);
  margin: inherit auto;
}

.post-header, .post-content {
  width: 100%;
}


/*
 * Two pane layout
 */

.post-two-pane {
  width: var(--main-width);
}

.post-two-pane .post-content {
  display: flex;
}

.post-two-pane .main-content {
  padding: 0 25px;
}

.sidebar {
  width: 320px;
  position: sticky;
  top: 10px;
  max-height: calc(100vh - var(--header-height) + 50px);
  overflow-y: auto;
  scrollbar-width: thin;
}

.sidebar h3 {
  margin-top: 0;
}

.post-two-pane .main-content {
  flex: 1;
}

.post-two-pane .post-header {
  margin: 0;
}

.post-two-pane .sidebar ul {
  list-style: none;
  padding: 0;
}

.post-two-pane a, .post-two-pane a code {
  box-shadow: none !important;
}

.post-content pre code {
  color: black;
}

.post-two-pane .post-content a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1250px) {
  :root {
    --main-width: 1000px;
    --nav-width: 1000px;
  }
  .post-two-pane {
    width: 1000px;
  }
}
@media only screen and (max-width: 1050px) {
  .sidebar {
    display: none;
  }
  .post-two-pane {
    width: auto;
  }
  .post-two-pane .main-content {
    padding: 0;
  }
  .page-header {
    margin-top: 0;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    --header-height: 45px;
  }
  .post-two-pane, .post-single {
    width: 100%;
  }
}
