{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

{{- /* Enable math support for posts with math: true in frontmatter */ -}}
{{- if .Params.math }}{{ partial "helpers/math.html" . }}{{ end }}

{{- /* Reference page symbol search */ -}}
{{- if and .File (eq .File.BaseFileName "reference") }}
<link rel="stylesheet" href="/css/reference.css">
<script defer src="/js/reference.js"></script>
{{- end }}

{{- /* Head custom content area end */ -}}
